
# -------------------------------------------------------
# Azure Service Bus
# Portal Azure → Service Bus → seu namespace →
# Shared access policies → RootManageSharedAccessKey
# -------------------------------------------------------
SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://SEU-NAMESPACE.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SUA-CHAVE
SERVICE_BUS_QUEUE_NAME=togglemaster-events

# -------------------------------------------------------
# Azure Cosmos DB
# Portal Azure → Cosmos DB → sua conta → Keys
# -------------------------------------------------------
COSMOS_ENDPOINT=https://SEU-COSMOS.documents.azure.com:443/
COSMOS_KEY=SUA-CHAVE-COSMOS
COSMOS_DATABASE=analyticsdb
COSMOS_CONTAINER=analytics-events

# -------------------------------------------------------
# auth-service
# Defina um valor forte — é a senha de admin do sistema
# -------------------------------------------------------
MASTER_KEY=troque-por-um-valor-forte

# -------------------------------------------------------
# evaluation-service
# Preencha APÓS subir os containers e criar a chave:
# curl -X POST http://localhost:8001/admin/keys \
#   -H "Authorization: Bearer SUA_MASTER_KEY" \
#   -H "Content-Type: application/json" \
#   -d '{"name": "evaluation-service"}'
# -------------------------------------------------------
SERVICE_API_KEY=tm_key_PREENCHER_APOS_CRIAR
